body{ width: 100%;
}

#pair{width: 100%;}

h1, h2 {margin-left: 5%;}


nav li{
	display: inline;
	margin-right: 10px;
	}

nav {background-color: #fff;
		margin-left: 2%;}
	
footer {background-color: #a93c9d;
		padding-bottom: 50px;
		padding-top: 10px;}

.footer > li {
	display: inline;
}