body{ width: 100%;
}

#pair{width: 100%;}

header{background-color: #a93c9d;
}

h1, h2 {color: #fff;
		text-align: center;}

nav {text-align: center;}

nav li{color: pink;
	display: inline;
	margin-right: 10px;
	}
	nav {background-color: #fff;}
	
footer {background-color: #a93c9d;
		padding-bottom: 50px;
		padding-top: 10px;}

.footer > li {
	display: inline;
}