body {
	padding-left: 50px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 100px;
}
h1 {font-family: "bungee",sans-serif;
	font-style: normal;
	font-weight: 400;}
p, ul {font-family: "mr-eaves-xl-modern",sans-serif;
	font-style: normal;
	font-weight: 100;
	line-height: 150%;
	width: 500px;}
h2, h3, h4, a {font-family: "mr-eaves-xl-modern",sans-serif;
	font-style: normal;
	font-weight: 400;}
img {
	padding-right: 15px;
}	