
.grid-item {
  float: left;
  width: 60px;
  height: 60px;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
}

.grid-item--width2 { width: 120px; }
.grid-item--height2 { height: 120px; }

body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 7%;
}
h1 {
	color: #E169AF;
	font-family: "ingra",sans-serif;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 3px;
	position: relative;
}

h2 {
	color: #4B4B4B;
	font-family: "ingra-2",sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 125%;
	position: relative;
}

p {
	font-style: italic;
	color: #979797;
	
	
}
