header{
	position: fixed;
	background-color: white;
	width: 100%;
}

body{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	background-image: url(smoke.jpg);
}

ul {
	margin-top: 5%;
	list-style-type: none;
	padding-top: 6em;
}

li {
	float: left;
	padding: 20px;
	background-color: white;
	
}

h1 {
	font-family: "retiro-std-48pt",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 300%;
	letter-spacing: 4px;
	margin: 0;
}

h2 {
	font-family: "mrs-eaves",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin-top: 0em;
}

p {
	font-family: "mrs-eaves",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 100%;
	margin: 0;
}

img {
	margin-bottom: 0.8em;
}

#about { float: right;
		margin-top: -2em;}